# /etc/systemd/system/jonkins.service
[Unit]
Description=Jonkins service
After=network.target

[Service]
Environment=http_proxy=
Environment=https_proxy=
Environment=no_proxy=

Type=simple
User=jenkinspush
Group=jenkinspush
WorkingDirectory=/home/jenkinspush/jonkins
ExecStart=/usr/local/bin/ruby /home/jenkinspush/jonkins/main.rb
Restart=on-failure
TimeoutSec=10

[Install]
WantedBy=multi-user.target
